.sidebar {
  width: 240px;
  height: 100vh;
  background: #002a6c;
  color: white;
  padding: 25px;
  box-sizing: border-box;
}

.logo {
  margin-bottom: 40px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu a {
  color: white;
  text-decoration: none;

  display: flex;
  align-items: center;
  gap: 15px;

  padding: 14px;
  border-radius: 10px;

  font-size: 18px;

  transition: 0.3s;
}

.menu a:hover {
  background: rgba(255,255,255,0.15);
}
.logout-btn {
  width: 100%;
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  text-align: left;
  padding: 15px 20px;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 12px;
}

.logout-btn:hover {
  background: rgba(255,255,255,0.1);
  border-radius: 10px;
}